<!DOCTYPE html>
<html>

<head>
    <title>Live stream</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript">
    	function changeLang() {
    		if (navigator.language=="zh-CN") {
    			document.getElementById("btCamera").innerHTML="我要直播"
    		}
    	}
    	setTimeout("changeLang()", 50)
    </script>
</head>

<body>
	<a href="/live/camera" id="btCamera">Live stream</a><br>
    <img src="" id="receiver" alt="online(0)">
    <script type="text/javascript">
    var image = document.getElementById("receiver")
    var domain = location.href.split("/")[2]
    var socket = new WebSocket("ws://" + domain + "/wsLive")
    socket.onmessage = function(e) {
        var mData = JSON.parse(e.data)
        if (mData.Mtype == "video") {
            image.src = mData.Data
        }
    }
    socket.onopen = function(e) {
        console.log('connected')
    }
    socket.onclose = function(e) {
        console.log('closed')
    }
    </script>
</body>

</html>